.home
  &__wrap
    padding-bottom: 90px
    background: url("../img/home-bg.png") no-repeat center/cover

  &__slider
    display: flex
    justify-content: center

    &-content
      display: flex
      width: 100%
      max-width: 840px
      background-color: rgba(255, 255, 255, 0.3)

      &-slogan-small
        display: flex
        align-items: center
        font: 300 $extra-big-font-size $primary-font-family
        color: #74c7d5
        line-height: 0.9
        text-align: right

      &-slogan-big
        font: 900 138px $primary-font-family
        color: $home-primary-color