$primary-font-family: 'Lato', sans-serif
$logo-font-family: 'Damion', cursive

$primary-text-color: #fff
$home-primary-color: #74c7d5

$team-second-color: #a1ca6c

$tiny-font-size: 14px
$small-font-size: 16px
$medium-font-size: 20px
$big-font-size: 30px
$extra-big-font-size: 60px